---
Initech:				# Should exactly match Toggl client name
 name: 'Initech, Inc.'
 street: '123 N Main St'
 locality: 'Memphis, TN 38112'
 rate: 155
Intertrode:
 name: 'Intertrode Research Corp'
 street: '456 Martin Luther King Blvd.'
 locality: 'Boston, MA 02134'
 rate: 50
 projects: 
  My Project:			# Should exactly match Toggl project name
   freshbooks_id: 1
John Smith:
 name: 'John Smith, Esq.'
 street: '1 My Place'
 locality: 'Roanoke, VA 24018'
 rate: 85